
@media only screen and (min-width: 300px) and (max-width: 900px){
  body{
    padding: 0;
  }
  .custom-container {
    margin: 0px !important;
    width: 100%;
    padding: 26px;
  }
  .designation-wrapper {
    width: 100%;
  }
  .divider-wrapper .text-align-left {
    text-align: left !important;
    margin-top: 0.5rem;
  }
  .divider-wrapper .text-align-left a img {
    width: 7%;
  }
}