/* --------Fonts----------- */

/* @font-face {
  font-family: "lato";
  src: url("/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "lato-bold";
  src: url("/fonts/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: "poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-light";
  src: url("/fonts/Poppins/Poppins-Light.ttf");
} */
* {
  padding: 0;
  margin: 0;
}
body {
  background: #000 !important;
  padding: 5px 55px 5px 55px;
  font-family: Poppins;
}
p{
  margin-bottom: 0 !important;
}
/* --------Helpers----------- */

/* --------custom classes----------- */
.custom-container {
  margin: 0 185px;
  padding: 45px;
  background: #fff;
}
.custom-container h1{
  font-family: Lato;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 42px;
}
.designation-wrapper {
  padding: 12px;
  color: #fff;
  font-size: 18px;
  font-family: Lato;
  width: 40%;
  background: linear-gradient(270deg, #F7B733 0%, #FC4A1A 100%);
}
.introduction-wrapper {
  font-size: 14px;
  opacity: 0.6;
  margin: 2rem 0px;
}
.divider-wrapper {
  font-size: 14px;
  border-bottom: 1px solid rgb(209, 209, 209);
  padding-bottom: 12px;
  margin-bottom: 3rem;
}
.divider-wrapper div p {
  opacity: 0.6;
}
.content-section img {
  margin: 0.8rem 0;
}
.content-section h4 {
  font-family: Poppins;
  font-weight: 300;
  color: #FB601F;
  opacity: 0.8;
}
.content-section h5 {
  margin-top: 10px;
  font-family: Poppins;
  font-weight: 300;
}
.content-section .low-opacity {
  opacity: 0.7;
  font-size: 14px;
}
.content-section .text-content {
  font-size: 14px;
  margin-top: 0.5rem;
}
.dots {
  margin: 0.8rem 0 0 0;
}
.dot-primary {
  height: 10px;
  width: 10px;
  background: #FB601F;
  margin-right: 0.5rem;
  border-radius: 50px;
}
.dot-secondary {
  height: 10px;
  width: 10px;
  background: rgb(199, 199, 199);
  margin-right: 0.5rem;
  border-radius: 50px;
}